.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--first {
  justify-content: right;
}
.countries--second {
  justify-content: space-around;
}
.countries--tall.countries--third {
  justify-content: inherit;
  flex-direction: column-reverse;
}
.countries--tall.countries--fourth {
  justify-content: space-around;
  flex-direction: column-reverse;
}
